@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

html {
  /* @apply bg-gradient-to-b from-smoke-900 to-smoke-950; */
  /* @apply bg-smoke-950; */
  @apply bg-zinc-950;
  min-height: 100%;
}


body {
  --sb-track-color: theme('colors.zinc.700');
  --sb-thumb-color: theme('colors.zinc.800');
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

}


/* W3 Button */
:root {
  --wui-border-radius-m: 0.375rem !important;
  --wui-color-accent-100: #3bcc8a !important;
  --wui-color-accent-090: #3bcc8bde !important;
  /* --wui-color-accent-100: #1b8df5 !important; */
  /* --wui-color-accent-100: #1b8df5 !important; */
  --wui-color-inverse-100: #09090b !important;
}